.angular-material-gridlist-container {
  padding: 10px 40px;
}

.angular-material-gridlist-inner-container {
  border: 1px solid grey;
  overflow-x: auto;
}

.mat-grid-tile-class {
  border: 1px solid black;
  cursor: pointer;
}

.div-tile-class {
  border: 1px solid black;
  width: 200px;
  height: 100px;
  display: inherit;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mat-grid-tile-class:hover,
.div-tile-class:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
