<div class="angular-material-gridlist-container">
  <h2>{{ title }} Practice</h2>

  <div class="angular-material-gridlist-inner-container">
    <table [style.width]="tableWidth.width" style="border: 1px solid red">
      <thead>
        <tr>
          <td>
            <span>
              Switch the Table width :
              <button
                mat-raised-button
                color="primary"
                (click)="changeTableWidth()"
              >
                Switch
              </button></span>
            <span>
              Current width: {{ tableWidth.width }} - {{ tableWidth.txt }}</span>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h4>Using mat-grid-list</h4>
            <mat-grid-list [gutterSize]="'10px'" class="mat-elevation-z0" cols="14" rowHeight="100px">
              <div style="
                  background-color: aqua;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap-reverse;
                ">
                <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
                  [style.background]="tile.color" class="mat-grid-tile-class">
                  {{ tile.text }}
                </mat-grid-tile>
              </div>
            </mat-grid-list>
          </td>
        </tr>

        <tr>
          <td>
            <h4>Using flexbox</h4>
            <div style="
                background-color: dodgerblue;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
              ">
              <div *ngFor="let tile of tiles" [style.background]="tile.color" class="div-tile-class">
                {{ tile.text }}
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <br />

  <h4>Adaptive mat-grid-lists</h4>
  <mat-grid-list [gutterSize]="'10px'" class="mat-elevation-z0" [cols]="cols" rowHeight="100px">
    <mat-grid-tile *ngFor="let i of numbers" [colspan]="1" [rowspan]="1" style.border="1px dotted grey"
      class="mat-grid-tile-class">
      {{ i }}
    </mat-grid-tile>
  </mat-grid-list>

  <br />

  <h4>Adaptive mat-grid-lists, but with a frozen cell at left</h4>
  <mat-grid-list [gutterSize]="'10px'" class="mat-elevation-z0" cols="14" rowHeight="150px">
    <div style="
        background-color: antiquewhite;
        display: flex;
        flex-direction: row;
      ">
      <div style="background-color: rgba(0,0,0,0.2)" class="div-tile-class">
        Tile Heading
      </div>

      <div style="width: 90%; padding: 0px 10px;">
        <mat-grid-list [gutterSize]="'10px'" class="mat-elevation-z0" [cols]="cols" rowHeight="100px">
          <mat-grid-tile *ngFor="let i of numbers" [colspan]="1" [rowspan]="1" style.border="1px dotted grey"
            class="mat-grid-tile-class">
            {{ i }}
          </mat-grid-tile>
        </mat-grid-list>
      </div>

    </div>
  </mat-grid-list>
</div>